<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Configutation Bluetooth Conected </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configutation Bluetooth Conected</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--  -->
  <div class="container">
    <div class="row">
      <div class="col">
        <button (click)="enableBluetooth()" slot="end">
          <ion-icon slot="icon-only" name="bluetooth"></ion-icon>
          Buscar
        </button>
        <div *ngFor="let data of Devices">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ data.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{ data.id }}</p>
              <p>{{ data.name }}</p>
              <p>{{ data.rssi }}</p>
              <p>{{ data.class }}</p>
              <p>{{ data.adress }}</p>
              <p>{{ data.adressType }}</p>

              <ion-button (click)="connect(data.adress)">Connect</ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </div>

  <!-- <app-explore-container
    name="Configutation Bluetooth Conected"
  ></app-explore-container> -->
</ion-content>
